APP_PORT=8084

MAIL_HOST="smtp.gmail.com"
MAIL_USER="example@gmail.com"
MAIL_PASSWORD="mail_app_password"
MAIL_FROM="example@gmail.com"
MAIL_PORT=587

RMQ_QUEUE="notifications-queue"
RMQ_URL="amqp://default_user:default_password@localhost:5672"
